.red{background: #ED5656;}.green{background: #76DA18;}.yellow{background: #FCE241}
.t{ display: inline-block;}
.content-icon{ width: .36rem;  margin-top: -3px;  display: inline-block;  vertical-align: middle;}
.discount-detail2{ width: 70%;  margin-top: 2px;}.set-time{width: 28%;float: right;text-align: right;}.set-time p{text-align: center;}
.status-describe{ line-height: 19px;margin-left: -2px;overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;}.describe-word{ font-size: 0.28rem;  margin-left: 4px;color: #666666;}
.ytd{    font-size: .24rem;
    color: #999999;}
.clock{
    font-size: .30rem;
    color: #666666;
}
.condition-img{
    margin-top: 15px;
    margin-left: 8px;
    background-color: #FFF;
    border-radius: 45px;
    width: 60px;
    height: 60px;
}
.list-theme4 {
    padding: 0 0;!important;
}
.list-theme4 .list-item {
    margin: 0 0; !important;
    border-top:none; !important;
    border-radius:0;!important;
    border-right: none;!important;
}
.post{
    padding-left: 16px;
    color: #333333;
    line-height: 44px;
    font-size: .30rem;
    background: #ffffff;
    border-bottom: 1px solid #CCCCCC;
}
.list-mes .list-title {
    color: #333333;!important;
    font-size: .34rem;!important;
}
.set-icon{
    width: .52rem;
    margin: 0 4px;
    display: inline-block;
    vertical-align: middle
}
.add{
    width: 64px;
    float: right;
    text-align: center;
    font-weight: normal;
    color: #2CA9E0;
    font-size: .28rem;
}
@media screen and (max-width: 320px){
    .condition-img {
        margin-top: 10px;
    }
}